@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root{
  --green:#27ae60;
  --black:#2c2c54;
}

section{
  padding:2rem 9%;
}
.newsletter-btn{
    display: inline-block;
    background:var(--green);
    color:#fff;
    padding:.8rem 3rem;
    font-size: 1.7rem;
    text-align: center;
    cursor: pointer;
    margin: 2px;
  }
.btn{
  display: inline-block;
  margin-top: 5px;
  margin-left: 4px;
  background:var(--green);
  color:#fff;
  padding:1.2rem 3rem;
  font-size: 1.7rem;
  text-align: center;
  cursor: pointer;
  margin: 2px;
}

.btn:hover{
  background:var(--black);
}

.newsletter{
    /* background:url(../images/newsletter-bg.jpg) no-repeat; */
    background-size: cover;
    background-position: center;
    text-align: center;
    padding:5rem 2rem;
  }
  
  .newsletter h3{
    font-size: 3rem;
    color:var(--black);
  }
  
  .newsletter form{
    max-width: 55rem;
    display: flex;
    align-items: center;
    margin:1rem auto;
    padding:1.5rem;
    background:rgba(0,0,0,.1);
  }
  
  .newsletter form .box{
    width:100%;
    padding:.7rem 1.5rem;
    font-size: 1.7rem;
    color:#333;
    text-transform: none;
  }
  
  .newsletter form .btn{
    margin-top: 0;
  }
  
  .footer .box-container{
    display: flex;
    gap:1.5rem;
    flex-wrap: wrap;
  }
  
  .footer .box-container .box{
    padding:1rem 0;
    flex:1 1 25rem;
  }
  
  .footer .box-container .box h3{
    font-size: 2.5rem;
    color:var(--black);
  }
  
  .footer .box-container .box p{
    font-size: 1.3rem;
    color:#666;
    padding:.7rem 0;
  }
  
  .footer .box-container .box .links{
    padding:1rem 0;
  }
  
  .footer .box-container .box .links a{
    display: block;
    padding:.5rem 0;
    font-size: 1.7rem;
    color:#333;
  }
  
  .footer .box-container .box .links a:hover{
    text-decoration: underline;
    color:var(--green);
  }
  
  .footer .credit{
    padding:2.5rem 1rem;
    border-top: .1rem solid rgba(0,0,0,.1);
    margin-top: 1rem;
    text-align: center;
    font-size: 2rem;
  }
  
  .footer .credit span{
    color:var(--green);
  }
  .logo {
    color: var(--black);
    font-weight: bolder;
    font-size: 3rem;
}
.logo i {
    padding-right: .5rem;
    color: var(--green);
}
.fa, .far, .fas {
    font-family: "Font Awesome 5 Free";
}
.fab {
    font-family: "Font Awesome 5 Brands";
}
.footer[_ngcontent-hok-c66] .box-container[_ngcontent-hok-c66] .box[_ngcontent-hok-c66] .share[_ngcontent-hok-c66] a[_ngcontent-hok-c66] {
    padding: 0;
    height: 5rem;
    width: 6rem;
    line-height: 4rem;
    text-align: center;
}

  .head {
    padding-right: calc((100% - 700px)/ 2);
    padding-left: 313px;
    margin-top: 25px;
    width: 100%;
}
p {
  font-size: 18px;
  line-height: 28px;
  margin: 0 0 10px;
}
span {
  font-weight: bold;
  font-size: 20px;
}
.content {
  margin-top: 20px;
}