
    <div class="head">
    <div class="content">
        <span>
        The story of Sopping-Il is one of pioneering people with visionary ideas.
        </span>
      <p>From our beginnings as the first israel discounter,
      offering our customers the very best value has been our driving force.
      We built our business upon listening to our diverse range of customers and offering what they need.
      We're at our best when we keep things simple. From checkout to boardroom, our colleagues are the heroes,
      and they've always made Sopping-Il special. Every one of us shapes the character of this company.
      We offer you a large quantity of products, the last time we counted the number of all items was <span class="count">{{productAmount}}</span>,
      and this number is constantly rising,
      and after <span class="count">{{orderAmount}}</span> orders we promise you and everyone who orders through us,
      we will do everything we can to make you happy
    </p>
    </div>
    </div> 
 
    <section class="newsletter">

        <h3>subscribe us for latest updates</h3>
    
        <form action="">
            <input class="box" type="email" placeholder="enter your email">
            <input type="button" value="subscribe" class="newsletter-btn">
        </form>
    
    </section>
    
    <section class="footer">
    
        <div class="box-container">
    
            <div class="box">
                <a href="#" class="logo"><i class="fas fa-shopping-basket"></i>groco</a>
                <div class="share">
                    <a href="https://he-il.facebook.com/" target="_blank" class="btn fab fa-facebook-f"></a>
                    <a href="https://twitter.com/twitter" target="_blank" class="btn fab fa-twitter"></a>
                    <a href="https://www.instagram.com/" target="_blank" class="btn fab fa-instagram"></a>
                    <a href="https://www.linkedin.com/" target="_blank" class="btn fab fa-linkedin"></a>
                </div>
            </div>
            
            <div class="box">
                <h3>our location</h3>
                <div class="links">
                    <a href="#">india</a>
                    <a href="#">USA</a>
                    <a href="#">france</a>
                    <a href="#">japan</a>
                    <a href="#">russia</a>
                </div>
            </div>
    
            <div class="box">
                <h3>quick links</h3>
                <div class="links">
                    <a routerLink="/home">home</a>
                    <a routerLink="/login">Login</a>
                    <a routerLink="/register">Register</a>
                </div>
            </div>
    
            <div class="box">
                <h3>download app</h3>
                <div class="links">
                    <a href="#">google play</a>
                    <a href="#">window xp</a>
                    <a href="#">app store</a>
                </div>
            </div>
    
        </div>
    
        <h1 class="credit"> created by <span> mr. samuel lasmi web designer and programer </span> | all rights reserved! </h1>
    
    </section>
    