
.footer .box-container{
    display: flex;
    gap:1.5rem;
    flex-wrap: wrap;
  }
.footer .credit{
    padding:2.5rem 1rem;
    border-top: .1rem solid rgba(0,0,0,.1);
    margin-top: 1rem;
    text-align: center;
    font-size: 2rem;
  }
  
  .footer .credit span{
    color:var(--green);
  }
  